.item {
  width: 300px;
  height: 100px;
  border: 1px solid #000000;
  position: relative;
  border-radius: 8px;
  padding-left: 20px;
}
.name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.number {
  font-size: 20px;
  font-weight: 400;
}
.btn {
  border: 1px solid black;
  position: absolute;
  top: 30%;
  right: 20px;
  padding: 10px 10px;
}
.icon {
  width: 15px;
  margin-right: 10px;
  padding-top: 5px;
}
