.form_box {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  border-radius: 4px;
}
.error {
  color: tomato;
  left: 5%;
  top: 25%;
}
.btn {
  border: 1px solid black;
  width: 100px;
  margin: 0 auto;
  &:hover {
    background-color: rgb(182, 133, 228);
  }
}
